- nodes = local_assigns[:nodes]
- node = local_assigns[:node]
- args = {}
- args[:node] = node if node
- args[:nodes] = nodes if nodes
- statuses = Status.within_daily_run_history(args)

%h3 Daily run status
%p.legend Number and status of runs during the <strong>last #{SETTINGS.daily_run_history_length} days</strong>:

- if statuses.present?
  %table.inspector.data.status.bar
    %thead
      %tr.labels
        %td= ""
        - statuses.each do |status|
          %th{:scope => :col}= status.start.strftime('%Y-%m-%d')
    %tbody
      %tr.unchanged
        %th{:scope => :row}= "Unchanged"
        - statuses.each do |status|
          %td= status.unchanged
      %tr.changed
        %th{:scope => :row}= "Changed"
        - statuses.each do |status|
          %td= status.changed
      %tr.pending
        %th{:scope => :row}= "Pending"
        - statuses.each do |status|
          %td= status.pending
      %tr.failed
        %th{:scope => :row}= "Failed"
        - statuses.each do |status|
          %td= status.failed
- else
  %p 
    = describe_no_matches_as 'No runs found to report'
