= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  = devise_error_messages!

  %h2.header
    Forgot your password?

  .item
    .element
      = f.label :email
      = f.email_field :email

    .element
      %button Send me reset password instructions

  = render "devise/shared/links"
